@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply border border-white box-border p-2;
  }
  input{
    @apply border border-gray-500;
  }
  h1{
    @apply text-3xl;
  }
}
